extend base
block content
    .planDetail-parent
        include planCard
        form.uploadPlanImages
                .entry
                    .entry-text
                        | update Photo
                    input(type='file' name='cover')
                .entry
                    .entry-text
                        | update Photo
                    input(type='file' name='picture')
                .entry
                    .entry-text
                        | update Photo
                    input(type='file' name='picture')
                
                .entry
                    .entry-text
                        | update Photo
                    input(type='file' name='picture')
                
                .btn-parent
                    button(type="submit" planId=`${plan["_id"]}`).btn.btn-primary.updatebtn add Images